.cafe-container {
  display: flex;
  flex-direction: column;
  height: 1250px;
  background-color: #e9e6e1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-column {
  display: flex;
  padding: 2vw 25vw;
}

.right-column {
  display: flex;
  padding: 2vw 25vw;
  text-align: right;
}

.left-image {
  border-radius: 100px 100px 5px 5px;
  margin: 0 20px 0 0;
  height: 330px;
  width: 200px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.right-image {
  border-radius: 100px 100px 5px 5px;
  margin: 0 0 0 20px;
  height: 330px;
  width: 200px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.cafe-title {
  font-size: 30px;
  border-bottom: solid #000 2px;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 1200px) {
  .name {
    font-size: 50px;
    border-top: solid #000 2px;
    border-bottom: solid #000 2px;
  }

  .left-image {
    border-radius: 100px 100px 5px 5px;
    margin: 20px 0 20px 0;
    height: 250px;
    width: 150px;
  }

  .right-image {
    border-radius: 100px 100px 5px 5px;
    margin: 0 0 20px 0;
    height: 250px;
    width: 150px;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw 15vw;
  }

  .left-column p {
    margin: 5px;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw 15vw;
  }

  .right-column p {
    margin: 5px;
  }

  .cafe-container {
    display: flex;
    flex-direction: column;
    height: 1500px;
    padding: 10px 0;
    background-color: #e9e6e1;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cafe-title {
  padding: 0 60px 10px 60px;
  }
}

@media screen and (max-width: 768px) {
  .cafe-container {
    height: 1600px;
  }
}

@media screen and (max-width: 668px) {
  .cafe-container {
    height: 1600px;
  }
}

@media screen and (max-width: 458px) {
  .cafe-container {
    height: 1700px;
  }
}

@media screen and (max-width: 408px) {
  .cafe-container {
    height: 1800px;
  }
}

@media screen and (max-width: 408px) {
  .cafe-container {
    height: 1900px;
  }
}
