.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e9e6e1;
    justify-content: center;
    align-items: center;
    position: relative; /* Make it a positioning context */
  }
  
  .down-button {
    position: absolute; /* Position the DownButton at the bottom */
    bottom: 20px; /* Adjust the value as needed */
  }