.collective-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #e9e6e1;
  text-align: left;
  justify-content: center;
  align-items: center;
  position: relative; /* Make it a positioning context */
}

.collective-image {
  margin-right: 30px;
  border-radius: 150px 150px 5px 5px;
  width: 300px;
}

.collective-title {
  font-size: 50px;
}

.p-container {
  padding-left: 15px;
  border-left: #c7bfac solid 4px;
}

.text {
  padding-bottom: 20px;
  font-size: 20px;
  width: 60vw;
}

.pricing {
  padding-bottom: 20px;
}

.email {
  text-decoration: underline;
}

@media screen and (max-width: 1060px) {
  .collective-image {
    margin: 0 0 30px 0;
  }
  .collective-container {
    text-align: center;
    flex-direction: column;
    height: 1400px;
  }

  .p-container {
    padding: 0 15px 0 15px;
    border-left: #c7bfac solid 4px;
    border-right: #c7bfac solid 4px;
  }

  .text {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .collective-container {
    height: 1600px;
  }
}

@media screen and (max-width: 550px) {
  .collective-container {
    flex-direction: column;
    height: 1800px;
  }

  .text {
    padding: 0px 20px;
    width: 85vw;
  }
}

@media screen and (max-width: 400px) {
  .collective-container {
    flex-direction: column;
    height: 2000px;
  }

  .text {
    padding: 0px 20px;
    width: 85vw;
  }
}

@media screen and (max-width: 350px) {
  .collective-container {
    flex-direction: column;
    height: 2100px;
  }

  .collective-image {
    height: 380px;
    width: 250px;
  }

  .email {
    font-size: 18px;
  }

  .text {
    padding: 0px 20px;
    width: 85vw;
  }
}

@media screen and (max-width: 320px) {
  .collective-container {
    flex-direction: column;
    height: 2300px;
  }

  .email {
    font-size: 15px;
  }

  .text {
    padding: 0px 20px;
    width: 85vw;
  }
}