.footer-section {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #c7bfac;
  color: #000;
}

.footer-left-column {
  text-align: center;
}

.footer-left-column a {
  font-size: 19px;
  cursor: pointer;
}

.footer-left-column li {
  text-align: left;
}

.footer-right-column {
  padding: 10px;
  text-align: right;
}

.footer-right-column li {
  font-size: 19px;
  padding: 2px 0px 2px 0px;
}

.li-style {
  position: relative;
  color: #000;
  padding: 7px;
  text-decoration: none;
}

.li-style::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom left;
  transition: width 0.25s ease-out;
  z-index: 1; /* Ensure the pseudo-element is behind the text */
}

.li-style:hover::before {
  width: 100%;
}

.address {
  cursor: pointer;
}

