:root {
  --dark-color: #8b826d;
  --light-color: #000;
}

.BB-Svg {
  cursor: pointer;
}

#up-darkGroup {
  fill: var(--dark-color);
}
#up-lightGroup {
  fill: var(--light-color);
}

#up-light1,
#up-dark1,
#up-light2 {
  transition: all 1s ease;
}
#up-light2 {
  transform: translateY(45%);
  opacity: 0;
}
#up-dark1 {
  transform: translateY(6%);
}
svg:hover #up-dark1 {
  transform: translateY(0%);
}
svg:hover #up-light1 {
  transform: translateY(-20%);
  opacity: 0;
}
svg:hover #up-light2 {
  transform: translateY(-0%);
  opacity: 100;
}
