@font-face {
  font-family: "Radley-Bold";
  src: local("Radley-Bold"),
    url("./assets/fonts/Radley/Radley-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Radley-Regular";
  src: local("Radley-Regular"),
    url("./assets/fonts/Radley/Radley-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  font-family: Radley-Regular, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.title-container {
  background-color: #e9e6e1;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e9e6e1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-title {
  padding: 45px 0 0 0;
  font-size: 7vw;
  font-weight: bold;
  color: #000;
}

.instagram-logo {
  filter: brightness(0%);
  padding: 10px;
  width: 25px;
  cursor: pointer;
}

.instagram-logo:hover {
  filter: brightness(100%);
}



