@font-face {
  font-family: "Charm-Bold";
  src: local("Charm-Bold"),
    url("./assets/fonts/Charm/Charm-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Charm-Regular";
  src: local("Charm-Regular"),
    url("./assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  font-family: Charm-Regular, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.page-title {
  font-size: 10vw;
  font-weight: bold;
  color: #000;
}